@charset "UTF-8";
.row.strict {
  margin: 0 0px; }
  .row.strict > div {
    padding: 0 0px; }

.row.strict1 {
  margin: 0 -1px; }
  .row.strict1 > div {
    padding: 0 1px; }

.row.strict2 {
  margin: 0 -2px; }
  .row.strict2 > div {
    padding: 0 2px; }

.row.strict3 {
  margin: 0 -3px; }
  .row.strict3 > div {
    padding: 0 3px; }

.row.strict4 {
  margin: 0 -4px; }
  .row.strict4 > div {
    padding: 0 4px; }

.row.strict5 {
  margin: 0 -5px; }
  .row.strict5 > div {
    padding: 0 5px; }

.row.strict6 {
  margin: 0 -6px; }
  .row.strict6 > div {
    padding: 0 6px; }

.row.strict7 {
  margin: 0 -7px; }
  .row.strict7 > div {
    padding: 0 7px; }

.row.strict8 {
  margin: 0 -8px; }
  .row.strict8 > div {
    padding: 0 8px; }

.row.strict9 {
  margin: 0 -9px; }
  .row.strict9 > div {
    padding: 0 9px; }

.row.strict10 {
  margin: 0 -10px; }
  .row.strict10 > div {
    padding: 0 10px; }

.row.strict11 {
  margin: 0 -11px; }
  .row.strict11 > div {
    padding: 0 11px; }

.row.strict12 {
  margin: 0 -12px; }
  .row.strict12 > div {
    padding: 0 12px; }

.row.strict13 {
  margin: 0 -13px; }
  .row.strict13 > div {
    padding: 0 13px; }

.row.strict14 {
  margin: 0 -14px; }
  .row.strict14 > div {
    padding: 0 14px; }

.loginmodal-vertical .modal-dialog {
  max-width: 450px; }
  .loginmodal-vertical .modal-dialog .modal-header {
    border: none; }
    .loginmodal-vertical .modal-dialog .modal-header .close {
      position: absolute;
      top: 1rem;
      right: 1rem; }
    .loginmodal-vertical .modal-dialog .modal-header .modal-title {
      display: block;
      width: 100%;
      margin: 2rem 0 0; }
  .loginmodal-vertical .modal-dialog .modal-body {
    padding: 35px; }
    @media (max-width: 767px) {
      .loginmodal-vertical .modal-dialog .modal-body {
        padding: 20px; } }
    .loginmodal-vertical .modal-dialog .modal-body .title-loginform {
      margin-bottom: 1rem; }

.loginmodal-vertical .fblogn {
  margin-bottom: 35px; }

.loginmodal .forgetform > .title {
  margin: 0 0 1rem; }

.loginform, .forgetform {
  margin-bottom: 30px; }
  .loginform label.error, .forgetform label.error {
    display: none; }

/*漸層*/
.gradient_down {
  position: relative; }
  .gradient_down:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom, #fff 0, rgba(255, 255, 255, 0) 80%);
    background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 80%); }

.songpic-imglist {
  margin-bottom: 2.5rem;
  display: flex; }
  .songpic-imglist > li {
    position: relative;
    margin: 0 !important;
    width: 25%;
    height: 380px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -transition: all 0.3s ease-in-out; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .songpic-imglist > li {
        height: calc(528px * 4 / 6); } }
    @media (min-width: 768px) and (max-width: 991px) {
      .songpic-imglist > li {
        height: calc(396px * 4 / 6); } }
    .songpic-imglist > li .pic {
      height: 100%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -transform: translateX(-50%);
      width: calc( 1140px - calc( 1140px * 0.15 * 3)); }
      @media (min-width: 768px) and (max-width: 991px) {
        .songpic-imglist > li .pic {
          width: calc( 720px - calc( 720px * 0.15 * 3)); } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .songpic-imglist > li .pic {
          width: calc( 960px - calc( 960px * 0.15 * 3)); } }
      .songpic-imglist > li .pic > img {
        width: 100%;
        height: 100%; }
    .songpic-imglist > li .text {
      position: absolute;
      bottom: 5%;
      left: 5%;
      padding: 1rem 1rem .5rem;
      min-width: 360px;
      background-color: rgba(255, 255, 255, 0.95);
      visibility: hidden;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -transition: all 0.5s ease-in-out; }
      .songpic-imglist > li .text .article-editor {
        text-align-last: center; }
      .songpic-imglist > li .text .txt {
        font-size: .9rem;
        color: #756337; }
  .songpic-imglist:hover > li {
    width: 20%; }
    .songpic-imglist:hover > li:hover {
      width: calc(100% - (20% * 3)); }
      .songpic-imglist:hover > li:hover .text {
        visibility: visible;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
