html,body,figure{
	font-family: Arial, "微軟正黑體", PMingLiU, sans-serif;
	margin: 0;
	padding: 0;
}
.figure{
	margin: 0;
}
.bg-color{
	/*background-color:#9c6a36!important;*/
}
.mainTop {
	margin-top: 60px;
}
.map-div{
	width: 100%;
	height: 600px;
}
.map-background{
	/*
	background: url('../images/story3.png') no-repeat;
	background-size:100% auto;
	*/
}
.area-selected{
	position: relative;
    bottom: 0;
    right: 0;
}
.store-title{
	color:#ac812f;
}
.contact-title{
	color: #FFF;
}
.contact-background{
	background-image:url('../images/contact.png') no-repeat center center fixed; 
background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			
}
.contact-form{
	position: relative;
	top: 35px;
	left: 10px;
}
.send-btn{
	width: 120px;
	background-color: #ede5da;
	color: #a25639;
	font-size: 18px;
	font-weight: bold;
}
#fanstop{
	padding-top: 8px;
}
#descript{
	display: inline-block;
	margin: 5px;
	color: #FFF;
	padding: 8px;
	background-color: #9c6a36;
}
.fansBtn{
	padding-right: 30px;
	padding-left: 30px;
	text-decoration:none;
	background-color:#ac812f;
	margin-top: 5px;
	font-size: 22px;
}
a{
	color: #FFF;
}
a:hover { 
	color: #FFF;
    text-decoration:none;
}
div#navbarTop li{
	margin-right: 15px;
}
div#navbarTop li>a{
	/*color: #FFF;*/
}
.cus-input{
	background-color: #755e48;
	border: #FFF 2px solid;
	border-radius: 0px;
}
select.form-control{
	border: #0a3a8c 2px solid;
}
input{
	opacity:0.3;
}
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */