$mobile-s: "(max-width: 359px)";
$mobile-m: "(max-width: 374px) and (min-width: 360px)";
$mobile-l: "(max-width: 413px) and (min-width: 375px)";
$mobile-xl: "(min-width: 414px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";


@mixin browserView($name,$value){
  $prefixes: '-webkit', '-moz', '-ms', '-o', '';
  @each $prefix in $prefixes {
    #{$prefix}-#{$name}: $value;
  }
}


// 嘟裝置圖片計算尺寸
@mixin responsive-height($ratio) {
  height: calc( 1110px / #{$ratio} );
  @media #{$desktop}{ height: calc( 930px / #{$ratio} );}
  @media #{$tablet}{ height: calc( 690px / #{$ratio} );}
  @media #{$mobile}{
    height: calc( 510px / #{$ratio} );
    @media #{$mobile-s}{
      height: calc( (320px) / #{$ratio} );
    }
    @media #{$mobile-m}{
      height: calc( (360px) / #{$ratio} );
    }
    @media #{$mobile-l}{
      height: calc( (375px) / #{$ratio} );
    }
    @media #{$mobile-xl}{
      height: calc( (414px) / #{$ratio} );
    }
  }
}


// =================== row 寬度調整

@mixin rowstrict($strict) {
  margin:0 ($strict * -1px);
  >div{
    padding:0 ($strict * 1px);
  }
}

.row.strict {
  @include rowstrict(0);  }

@for $i from 1 through 14 {
  .row.strict#{$i}{
    @include rowstrict($i);  }
}



// =================== box-shadow

@mixin border-radius($radius) {
  $value : $radius;
  @include browserView(border-radius,$value);

  //Using the mixins looks like this:
  //@include border-radius(10px);
}
@mixin box-shadow($values...) {
    -webkit-box-shadow: $values;
    -moz-box-shadow: $values;
    box-shadow: $values;
  //Using the mixins looks like this:
  //@include box-shadow();
}



// =================== 動畫

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {  @content  }
  @-moz-keyframes #{$name} {  @content  }
  @-ms-keyframes #{$name} {  @content  }
  @-o-keyframes #{$name} {  @content  }
  @keyframes #{$name} {  @content  }

  //Using the mixins looks like this:
  //@include keyframes(move-the-object) {
  //  0%   { left: 100px; }
  //  100% { left: 200px; }
  //}
}
@mixin animation( $value... ) {
  -webkit-animation:$value;
  -moz-animation:$value;
  -ms-animation:$value;
  -o-animation:$value;
  animation:$value;

  //Using the mixins looks like this:
  //@include animation(move-the-object .5s 1);
  //@include animation(scale 1.0s ease-in, slide 2.0s ease);
  //animation: name duration timing-function delay iteration-count direction fill-mode play-state;
}
@mixin animation-name($name...) {
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  animation-name: $name;
}
@mixin animation-duration($duration...) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin animation-delay($delay...) {
  -o-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}
@mixin animation-timing-function($timing...) {
  -o-animation-timing-function: $timing;
  -moz-animation-timing-function: $timing;
  -webkit-animation-timing-function: $timing;
  animation-timing-function: $timing;
}
@mixin animation-iteration-count($count...) {
  -o-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -webkit-animation-iteration-count: $count;
  animation-iteration-count: $count;
  // number|infinite|initial|inherit;
}
@mixin animation-direction($direction...) {
  -o-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -webkit-animation-direction: $direction;
  animation-direction: $direction;
}
@mixin animation-fill-mode($fill...) {
  -o-animation-fill-mode: $fill;
  -moz-animation-fill-mode: $fill;
  -webkit-animation-fill-mode: $fill;
  animation-fill-mode: $fill;
  // none|forwards|backwards|both|initial|inherit;
}
@mixin animation-play-state($state...) {
  -o-animation-play-state: $state;
  -moz-animation-play-state: $state;
  -webkit-animation-play-state: $state;
  animation-play-state: $state;
}



// =================== 動畫效果

@mixin transition($time, $timeFunc:ease-in-out) {  //property duration timing-function delay|initial|inherit;
  $value : all ($time * 1s) $timeFunc;
  @include browserView(transition,$value);

  //Using the mixins looks like this:
  //@include transition(0.3);
}
@mixin transition-property($transition-property...) {
  //-webkit-transition-property: $transition-property;
  //transition-property: $transition-property;
  @include browserView(transition-property,$transition-property);
}
@mixin transition-delay($transition-delay) {
  //-webkit-transition-delay: $transition-delay;
  //transition-delay: $transition-delay;
  @include browserView(transition-delay,$transition-delay);
}
@mixin transition-duration($transition-duration...) {
  //-webkit-transition-duration: $transition-duration;
  //transition-duration: $transition-duration;
  @include browserView(transition-duration,$transition-duration);
}
@mixin transition-timing-function($timing-function) {
  //-webkit-transition-timing-function: $timing-function;
  transition-timing-function: $timing-function;
  @include browserView(transition-timing-function,$timing-function);
}


// =================== transform

@mixin transform($value...) {
  @include browserView(transform,$value...);

  //Using the mixins looks like this:
  //@include transform(scale(1, 1));
}
@mixin transform-origin($value...) {  //transform-style
  @include browserView(transform-origin,$value...);

  //Using the mixins looks like this:
  //@include transform-origin(20% 40%);
}


// =================== BG linearGradient

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    //@include linearGradient(#cccccc, #666666);
}

// =================== 透明度

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);

  //Using the mixins looks like this:
  //@include opacity(.5);
}


// =================== 絕對位置

@mixin el-align($vertical: true, $horizontal: false, $position: absolute) {
  @if $position {
    position: $position;
  }
  @if $vertical {
    top: 50%;
  }
  @if $horizontal {
    left: 40%;
  }

  @if $vertical and $horizontal {
    @include transform( translateX(-50%) translateY(-50%) );
  } @else if $vertical {
    @include transform( translateY(-50%) );
  } @else {
    @include transform( translateX(-50%) );
  }

  //Using the mixins looks like this:
  //@include el-align($horizontal:true);
  //@include el-align;

}



// ================ other common style

// .loginmodal {
//   // 直式登入框
//   &-vertical {
//     .modal-dialog {
//       max-width: 450px;
//       .modal-header {
//         border: none;
//         .close {
//           position: absolute;
//           top: 1rem; right: 1rem;
//         }
//         .modal-title {
//           display: block;
//           width: 100%;
//           margin: 2rem 0 0;
//           // text-align: center;
//         }
//       }
//       .modal-body {
//         padding: 35px;
//         @media (max-width: 767px) {
//           padding: 20px;
//         }
//         .title-loginform { margin-bottom: 1rem;}
//       }
//     }
//     .fblogn { margin-bottom: 35px;}
//   }
//   // 忘記密碼框
//   .forgetform {
//     >.title {
//       margin: 0 0 1rem;
//     }
//   }
// }
// .loginform {
//   margin-bottom: 30px;
//   label.error { display: none;}
// }
// .forgetform {
//   @extend .loginform;
// }


/*漸層*/
.gradient_down {
  position: relative;
  &:after {
    content: ""; text-align: right;
    position: absolute; bottom: 0; right: 0;
    width: 100%; height: 100%;
    background: -webkit-linear-gradient(bottom,#fff 0,rgba(255,255,255,0) 80%);
    background: linear-gradient(to top,#fff 0,rgba(255,255,255,0) 80%); }
}
