@import "mixin";
@media (max-width: 767px) {

  .songpic-imglist {
    display: block;
     > li {
       width: 100%;
       height: inherit;
       border-bottom: 1px solid #ad965f;
       .pic {
         position: static;
         height: inherit;
         width: auto;
         >img {
            width: 100%; height: 100%;
         }
         @include transform(none);
         margin-bottom: 0;
       }
     }
     &:hover {
       >li {
         width: auto;
         &:hover {
           width: auto;
         }
       }
     }
  }
  


}
