$mobile-s: "(max-width: 359px)";
$mobile-m: "(max-width: 374px) and (min-width: 360px)";
$mobile-l: "(max-width: 413px) and (min-width: 375px)";
$mobile-xl: "(min-width: 414px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";

$cus-brand-light : #faf7f0;
$cus-text-color : #756337;

$cus-mainblock-bg : #fdf5dc;
$cus-second-bg : #ffd1cd; // #FF9E95 pink

@import "bootstrap-variables";
@import "mixin";

.songpic-imglist {

  margin-bottom: 2.5rem;
  $list-item-minwidth : 25%;
  $list-item-maxwidth : 20%;
  display: flex;

  >li {
    position: relative;
    margin: 0 !important;
    width: $list-item-minwidth;
    height: 283px;
    @media #{$desktop}{
      height: calc(528px * 4 / 6); // 6:4,, w:528
    }
    @media #{$tablet}{
      height: calc(396px * 4 / 6); // 6:4,, w:396
    }
    overflow: hidden;
    @include transition(.3);
    .pic {
      // height:90%;
      // position: relative;
      width:100%;
      @include el-align($horizontal:true, $vertical:false);
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width:auto;
        left: 50%;
      }
      @each  $label, $map in $container-max-widths {

        $list-item-pic-minwidth : calc( #{$map} * 0.2 * 3);

        @if $label == 'xl' {
          width: calc( #{$map} - #{$list-item-pic-minwidth} );
        }@else if $label == 'lg' {
          @media #{$desktop}{
            width: calc( #{$map} - #{$list-item-pic-minwidth} );
          }
        }@else if $label == 'md' {
          @media #{$tablet}{
            width: calc( #{$map} - #{$list-item-pic-minwidth} );
          }
        }
      }
      >img {
        // @include el-align($horizontal:true, $vertical:false);
      }
    }
    // .text {
    //   position: absolute; bottom: 5%; left: 5%;
    //   padding: 1rem 1rem .5rem;
    //   min-width: 360px; //min-width: 60%;
    //   background-color: rgba(255, 255, 255,.95);
    //   // background-color: rgba(202, 186, 149,.95);
    //   // display: none;
    //   visibility: hidden;
    //   @include opacity(0);
    //   @include transition(.5);
    //   .article-editor {
    //     text-align-last: center;
    //   }
    //   .txt { font-size: .9rem; color: $cus-text-color;}
    // }
  }
  &:hover {
    >li {
      width: $list-item-maxwidth;
      &:hover {
        width: calc(100% - (#{$list-item-maxwidth} * 3));
        .text {
          // display: block;
          visibility: visible;
          @include opacity(1);
        }
      }
    }
  }
}
@import "mobile";
